.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#xxx {
  background: white;
  display: block;
}

body {
  margin: 0px;
}

.actions {
  position: fixed;
  top: 10px;
  left: 10px;
}

.actions svg {
  width: 30px;
  height:30px;
  transition: all 0.5s;
  margin: 0 5px;
}

.actions .active {
  fill: gray;
  transform: scale(1.2);
} 