.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#xxx {
  background: white;
  display: block;
}

body {
  margin: 0px;
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
}

.actions>#brush {
  display: none;
}

.actions.x>#brush {
  display: inline-block;
}

.actions.x>#eraser {
  display: none
}