ul,ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#xxx {
  background: white;
  display: block;
}

body {
  margin: 0px;
  overflow: hidden;
}

.actions {
  position: fixed;
  top: 10px;
  left: 10px;
}

.actions svg {
  width: 30px;
  height:30px;
  transition: all 0.5s;
  margin: 0 5px;
}

.actions .active {
  fill: gray;
  transform: scale(1.2);
} 

.colors {
  position: fixed;
  top: 60px;
  left: 10px;
}

.colors> li {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 10px 10px;
  border-radius: 50%; 
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.3)
}

.colors .red {
  background: red;
}

.colors .blue {
  background: blue;
}
  
.colors .green {
  background: green;
}
  
.colors> li.active{
  transform: scale(1.2);
  transition: all 0.5s;
}

.sizes {
  position: fixed;
  right: 10px;
  top:10px;
}

.sizes > li {
  margin: 10px 0;
}

.sizes > .thin {
  width: 40px ;
  height: 0;
  border-top: 2px solid gray; 
}

.sizes > .middle {
  width: 40px ;
  height: 0;
  border-top: 5px solid gray; 
}

.sizes > .thick {
  width: 40px ;
  height: 0;
  border-top: 10px solid gray; 
}